<div class="card">
    <header class="card-header">
        <p class="card-header-title"><a >{{mob.name}}</a>&nbsp;&nbsp;HP: {{mob.hp_template|safe}}</p>
        <p class="card-header-icon">
            <span class="tags has-addons">
                <span class="tag is-dark">{{mob.pct_contribution}}%</span>
                <span class="tag is-light">{{mob.pct_teeming_contribution}}%</span>
            </span>
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {% for ability in mob.abilities %}
                {% include "ability.html" %}
            {% endfor %}
        </div>
    </div>
</div>
